html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.container {
  max-width: 1182px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

.header {
  background-color: #fff8f3;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}

.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  background-color: transparent;
}

.menu-btn span {
  width: 100%;
  height: 1px;
  background-color: #7b6152;
}

.menu-list {
  display: flex;
  gap: 20px;
}

.menu-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
  text-transform: uppercase;
}

.phone::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -23px;
  top: -3px;
  background-image: url('../images/icon-phone.svg');
}

.main {
  background-color: #fff8f3;
  overflow-x: clip;
}

.top {
  padding: 30px 0 420px;
}

.top-inner {
  position: relative;
}

.top-content {
  width: 370px;
  padding-top: 164px;
}

.top-title {
  margin-bottom: 15px;
  font-family: 'Yeseva One', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.top-text {
  margin-bottom: 48px;
}

.top-buy {
  padding: 18px 54px;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 14px;
  color: #272727;
  background-color: #ffbd59;
}

.top-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 242px;
}

.about {
  padding: 50px 0 50px;
  color: #fafafa;
  background-color: #a5978e;
}

.about-inner {
  display: flex;
  align-items: center;
}

.about-content {
  min-width: 370px;
}

.about-title {
  margin-bottom: 15px;
  font-family: 'Yeseva One', sans-serif;
  font-size: 40px;
}

.about-text + .about-text {
  margin-top: 15px;
}

.about-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-basis: 820px;
  padding-left: 110px;
  padding-bottom: 48px;
}

.about-list::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 22px;
  height: 30px;
  background-image: url('../images/about-decor.png');
}

.about-list::after {
  position: absolute;
  content: '';
  left: 22px;
  bottom: 9px;
  width: 1000%;
  height: 1px;
  background-color: #7b6152;
}

.about-item-img {
  margin-bottom: 10px;
}

.about-item-text {
  font-size: 11px;
}

/* *********************************** */
/* ************** FOOTER ************* */

.footer {
  padding: 40px 0 34px;
  background-color: #ffffff;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.email {
  margin: 17px 0;
}

.footer-social-list {
  display: flex;
  gap: 15px;
}

@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }

  .top {
    padding: 30px 0 238px;
  }

  .top-content {
    width: 333px;
    padding-top: 93px;
  }

  .top-text {
    margin-bottom: 30px;
  }

  .top-img {
    left: 297px;
  }

  .top-image {
    width: 655px;
  }

  .about-content {
    min-width: 300px;
  }

  .about-list {
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  .footer-inner {
    flex-wrap: wrap;
  }

  .footer-contacts {
    width: 100%;
    padding-top: 15px;
    text-align: center;
  }

  .footer-social-list {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .container {
    max-width: 640px;
  }

  .phone::before {
    width: 14px;
    height: 14px;
    left: -16px;
    top: -2px;
    background-size: cover;
  }

  .top {
    padding: 30px 0 194px;
  }

  .top-content {
    width: 230px;
    padding-top: 100px;
  }

  .top-title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .top-text {
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 1.5;
  }

  .top-img {
    left: 180px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 10px;
  }

  .menu-btn {
    display: flex;
  }

  .header-menu-list {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-120%);
    flex-direction: column;
    gap: 20px 0;
    width: 153px;
    padding: 25px 35px 25px 45px;
    color: #fff8f3;
    background-color: #7b6152;
    transition: transform 0.5s ease;
    z-index: 5;
  }

  .header-menu-list.menu-open {
    top: 0;
    transform: translateY(0%);
  }
  .header-menu {
    order: 1;
  }
}

@media (max-width: 480px) {
  .top {
    padding: 30px 0 130px;
  }

  .top-content {
    width: 167px;
    padding-top: 80px;
  }

  .top-title {
    margin-bottom: 15px;
    font-size: 15px;
  }

  .top-text {
    margin-bottom: 15px;
    font-size: 8px;
  }

  .top-buy {
    padding: 13px 40px;
    font-size: 10px;
  }

  .top-img {
    left: 167px;
  }

  .top-image {
    width: 309px;
  }
}

@media (max-width: 468px) {
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }

  .footer-inner {
    flex-direction: column;
  }

  .footer-menu {
    padding: 50px 0;
    text-align: center;
  }

  .footer-menu-list {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .top {
    padding: 30px 0 50px;
  }

  .top-content {
    width: 203px;
    padding-top: 30px;
  }

  .top-title {
    font-size: 18px;
  }

  .top-text {
    font-size: 10px;
  }

  .top-img {
    /* left: 209px; */
    left: auto;
    right: 0;
  }

  .top-image {
    width: 162px;
  }
}
