html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
  font-family: 'Yeseva One', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.section {
  padding-bottom: 150px;
}

.section-decor {
  position: relative;
}

.section-decor::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 22px;
  height: 30px;
  background-image: url('../images/section-decor.png');
}

.section-decor::after {
  position: absolute;
  content: '';
  left: 22px;
  bottom: 9px;
  width: 1000%;
  height: 1px;
  background-color: #7b6152;
}

.button {
  padding: 18px 54px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #272727;
  background-color: #ffbd59;
}

.container {
  max-width: 1182px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

.header {
  background-color: #fff8f3;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}

.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  background-color: transparent;
}

.menu-btn span {
  width: 100%;
  height: 1px;
  background-color: #7b6152;
}

.menu-list {
  display: flex;
  gap: 20px;
}

.menu-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
  text-transform: uppercase;
}

.phone::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -23px;
  top: -3px;
  background-image: url('../images/icon-phone.svg');
}

.main {
  background-color: #fff8f3;
  overflow-x: clip;
}

.top {
  padding: 30px 0 420px;
}

.top-inner {
  position: relative;
}

.top-content {
  width: 370px;
  padding-top: 164px;
}

.top-title {
  margin-bottom: 15px;
  font-family: 'Yeseva One', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.top-text {
  margin-bottom: 48px;
}

.top-buy {
  padding: 18px 54px;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 14px;
  color: #272727;
  background-color: #ffbd59;
}

.top-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 242px;
}

.about {
  padding: 50px 0 50px;
  margin-bottom: 150px;
  color: #fafafa;
  background-color: #a5978e;
}

.about-inner {
  display: flex;
  align-items: center;
}

.about-content {
  min-width: 370px;
}

.about-text + .about-text {
  margin-top: 15px;
}

.about-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-basis: 820px;
  padding-left: 110px;
  padding-bottom: 48px;
}

.about-item-img {
  margin-bottom: 10px;
}

.about-item-text {
  font-size: 11px;
}

/* *********************************** */
/* ************* PRODUCTS ************ */

.section-inner {
  display: grid;
  grid-template-columns: 370px auto;
}

.section-content-descr {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 80px;
}

.products-content {
  gap: 50px 93px;
}

.products-item {
  width: 290px;
  margin: 0 auto;
  text-align: center;
}

.products-item-img {
  margin-bottom: 8px;
}

.products-item-price {
  margin-bottom: 12px;
  font-family: 'Yeseva One', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.products-item-title {
  margin-bottom: 16px;
  font-family: 'Yeseva One', sans-serif;
  /* font-weight: 400; */
  font-size: 16px;
  color: #000;
}

.products-item-text {
  margin-bottom: 27px;
  font-size: 12px;
}

.button {
  padding: 18px 54px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #272727;
  background-color: #ffbd59;
}

/* *********************************** */
/* ************** STEPS ************* */

.steps-list {
  gap: 70px 25px;
  counter-reset: number;
}

.steps-item {
  display: flex;
  gap: 40px;
  list-style: none;
  position: relative;
}

.steps-item::before {
  position: absolute;
  counter-increment: number;
  content: '0' counter(number);
  left: 0;
  bottom: 0;
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  color: #bea495;
}

.steps-item.steps-item-even::before {
  left: auto;
  right: 0;
}

.steps-item:nth-child(n + 10)::before {
  content: counter(number);
}

.steps-item-text {
  flex-basis: 174px;
  padding-bottom: 40px;
}

/* *********************************** */
/* ************** COURSES ************* */

.courses-item-img {
  position: relative;
  /* width: 268px; */
  font-family: 'Yeseva One', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
}

.courses-title {
  padding: 15px 15px 15px 10px;
  left: 9px;
  bottom: 157px;
}

.courses-time {
  padding: 7px 16px 7px 10px;
  left: 9px;
  bottom: 115px;
}

.courses-time span {
  font-family: 'Comfortaa', sans-serif;
  font-size: 10px;
}

.courses-price {
  padding: 19px 19px 19px 10px;
  right: 0;
  bottom: 2px;
}

.courses-title,
.courses-time,
.courses-price {
  background-color: #bea495;
  position: absolute;
}

/* *********************************** */
/* ************** FOOTER ************* */

.footer {
  padding: 40px 0 34px;
  background-color: #ffffff;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.email {
  margin: 17px 0;
}

.footer-social-list {
  display: flex;
  gap: 15px;
}

@media (max-width: 1050px) {
  .products-content {
    gap: 50px 67px;
  }

  .steps-list {
    gap: 37px 35px;
  }

  .steps-item {
    gap: 0 30px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }

  .top {
    padding: 30px 0 238px;
  }

  .top-content {
    width: 333px;
    padding-top: 93px;
  }

  .top-text {
    margin-bottom: 30px;
  }

  .top-img {
    left: 297px;
  }

  .top-image {
    width: 655px;
  }

  .about-content {
    min-width: 300px;
  }

  .about-list {
    padding-left: 20px;
  }

  .section-inner {
    grid-template-columns: 290px auto;
    gap: 0 10px;
  }

  .products-content {
    gap: 67px;
  }

  .section-text {
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  .footer-inner {
    flex-wrap: wrap;
  }

  .footer-contacts {
    width: 100%;
    padding-top: 15px;
    text-align: center;
  }

  .footer-social-list {
    justify-content: center;
  }

  .section-inner {
    grid-template-columns: 200px auto;
    gap: 0 10px;
  }

  .products-content {
    gap: 16px 30px;
  }

  .steps-list {
    gap: 37px 35px;
  }

  .steps-item {
    gap: 0 20px;
  }

  .steps-item-img {
    width: 85px;
    object-fit: cover;
  }

  .steps-item-text {
    font-size: 8px;
  }

  .steps-item::before {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .container {
    max-width: 640px;
  }

  .phone::before {
    width: 14px;
    height: 14px;
    left: -16px;
    top: -2px;
    background-size: cover;
  }

  .top {
    padding: 30px 0 194px;
  }

  .top-content {
    width: 230px;
    padding-top: 100px;
  }

  .top-title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .top-text {
    margin-bottom: 20px;
    /* font-size: 10px;
    line-height: 1.5; */
  }

  .top-img {
    left: 180px;
  }

  .about-content {
    min-width: 200px;
  }

  .title {
    font-size: 15px;
  }

  .about-title {
    margin-bottom: 20px;
  }

  .about-list {
    padding-bottom: 30px;
    margin-left: 27px;
    gap: 10px;
  }

  .about-item-img {
    margin-bottom: 6px;
  }

  .about-item-text {
    font-size: 6px;
  }

  .about-item-img-1 {
    width: 120px;
  }

  .about-item-img-2 {
    width: 190px;
  }

  .about-item-img-3 {
    width: 120px;
  }

  .products-item {
    width: 200px;
  }

  .products-item-img {
    width: 188px;
    margin-bottom: 6px;
  }

  .products-item-price {
    margin-bottom: 7px;
    font-size: 12px;
  }

  .products-item-title {
    margin-bottom: 9px;
    font-size: 12px;
  }

  .products-item-text {
    margin-bottom: 18px;
    font-size: 8px;
  }

  .button {
    font-size: 12px;
    padding: 10px 26px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 10px;
  }

  .menu-btn {
    display: flex;
  }

  .header-menu-list {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-120%);
    flex-direction: column;
    gap: 20px 0;
    width: 153px;
    padding: 25px 35px 25px 45px;
    color: #fff8f3;
    background-color: #7b6152;
    transition: transform 0.5s ease;
    z-index: 5;
  }

  .header-menu-list.menu-open {
    top: 0;
    transform: translateY(0%);
  }

  .header-menu {
    order: 1;
  }

  .section-inner {
    display: block;
  }

  .section-descr {
    margin-bottom: 30px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .top {
    padding: 30px 0 130px;
  }

  .top-content {
    width: 167px;
    padding-top: 80px;
  }

  .top-title {
    margin-bottom: 15px;
    font-size: 15px;
  }

  .top-text {
    margin-bottom: 15px;
    font-size: 8px;
  }

  .top-buy {
    padding: 13px 40px;
    font-size: 10px;
  }

  .top-img {
    left: 167px;
  }

  .top-image {
    width: 309px;
  }

  .about-content {
    min-width: 170px;
  }

  .about-list {
    align-items: flex-end;
    padding-bottom: 44px;
    margin-left: 0;
    padding-left: 12px;
    gap: 5px;
  }

  .about-item-img {
    margin-bottom: 0;
  }

  .about-item-text {
    display: none;
  }

  .about-item-img-1 {
    width: 80px;
  }

  .about-item-img-2 {
    width: 140px;
  }

  .about-item-img-3 {
    width: 80px;
  }

  .about-inner {
    align-items: flex-end;
  }

  .about {
    margin-bottom: 50px;
  }

  .section {
    padding-bottom: 50px;
  }

  .section-content-descr {
    padding-bottom: 60px;
  }

  .section-descr {
    width: 300px;
    margin: 0 auto 30px;
  }

  .steps-list {
    gap: 25px 40px;
  }
}

@media (max-width: 468px) {
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }

  .footer-inner {
    flex-direction: column;
  }

  .footer-menu {
    padding: 50px 0;
    text-align: center;
  }

  .footer-menu-list {
    flex-direction: column;
  }
}

@media (max-width: 404px) {
  .steps-list {
    gap: 20px 25px;
  }

  .steps-item {
    gap: 0 16px;
  }

  .steps-item-img {
    width: 66px;
  }
}

@media (max-width: 360px) {
  .top {
    padding: 30px 0 50px;
  }

  .top-content {
    width: 203px;
    padding-top: 30px;
  }

  .top-title {
    font-size: 18px;
  }

  .top-text {
    font-size: 10px;
  }

  .top-img {
    /* left: 209px; */
    left: auto;
    right: 0;
  }

  .top-image {
    width: 162px;
  }

  .about {
    padding: 25px 0 11px;
  }

  .about-content {
    min-width: 233px;
  }

  .title {
    margin-bottom: 10px;
  }

  .about-text + .about-text {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  body {
    font-size: 8px;
  }

  .about-list {
    padding-bottom: 42px;
    margin-left: 16px;
    padding-left: 9px;
    gap: 0;
  }

  .about-item-img-2 {
    display: none;
  }

  .about-item-img-3 {
    display: none;
  }

  .section-descr {
    width: 235px;
    margin: 0 auto 25px;
  }

  .products-item {
    width: 150px;
  }

  .products-content {
    gap: 40px 7px;
  }

  .products-item-img {
    width: 141px;
    margin-bottom: 5px;
  }

  .products-item-price {
    margin-bottom: 5px;
    font-size: 10px;
  }

  .products-item-title {
    margin-bottom: 5px;
    font-size: 10px;
  }

  .products-item-text {
    margin-bottom: 16px;
    font-size: 8px;
  }

  .button {
    font-size: 8px;
    padding: 8px 20px;
  }

  .steps-item-text {
    font-size: 6px;
  }
}
